.genderselect {
    width: 42%;
    background-color: none;
    border:1px solid #a6a6a6;
    border-radius: 5px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 23px;
    color: #a6a6a6;
    font-size: 16px;
    outline: none;
  }
  
  .genderoption {
    background-color: transparent;
    color: #2691d9;
    border: none;
    outline: none;
  }
  .genderselect:focus{
    border:2px solid #2691d9;
    color: #2691d9;
  }
  
  