
.center{
  position: absolute;
  top:30%;
  left:57%;
  transform: translate(-50%, -50%);
  width: 700px;
  height:220px;
  background: white;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}
.center h1{
  
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid silver;
  margin-bottom: 10px;
}
.center form{
  padding-left: 40px;
  box-sizing: border-box;
}