
.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height:500px;
  background: white;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}
.center h1{
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid silver;
}
.Admin_menu{
  padding: 0 40px;
  box-sizing: border-box;
}
.head {
    margin-top: 10px;
    text-align: center;
  }
.logout_btn {
    width: 10%;
    height: 40px;
    border: 1px solid black;
    background: rgb(35, 34, 34);
    border-radius: 10px;
    font-size: 15px;
    color: #e9f4fb;
    font-weight: 400;
    cursor: pointer;
    outline: none;
    margin-bottom: 20px;
    margin-left: 80%;
  }
  
  .logout_btn:hover {
    background-color: #d25050;
    border: #db2727;
  }






