.button {
  width: 80%;
   background-color: #1b9210;
    border-radius: 15px;
    height: 40px;
    border: 2px solid rgb(33, 229, 95);
    margin-top: 40px;
    margin-left: 10%;
    color: white;
    font-size: 13pt;
    font-family: Verdana, sans-serif;
    float: left;
    position: relative;
  }
  .button:focus {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 2px #4f4cf2;
}
  button:hover {
    transform: translatey(-3px);
    box-shadow: none;
    background-color:#1a7633;
}